APP_NAME=RemoteAdminPlus

API_URL=http://localhost:3000
URL=http://localhost:5173
DOMAIN=localhost:5173
COOKIE_DOMAIN=.localhost

# Generated with `openssl rand -hex 32`
APP_SECRET=
JWT_SECRET=

# Proxy Server Properties
PROXY_PORT=8080

# API Server Properties
HOSTNAME=0.0.0.0
PORT=3000

DB_NAME=remoteadminplus
DB_USER=remoteadminplus
# Generated with `openssl rand -hex 32`
DB_PASSWORD=
# Or socket connection strings in the form of socket:/var/run/pgsql?db=$DB_NAME
DATABASE_URL=postgres://$DB_USER:$DB_PASSWORD@postgres:5432/$DB_NAME

# Redis
REDIS_PREFIX=remoteadminplus:
REDIS_URL=redis://valkey:6379/0

#Don't touch this part
HOST=$HOSTNAME
ORIGIN=$URL
PUBLIC_DOMAIN=$DOMAIN
PUBLIC_URL=$URL
PUBLIC_API_URL=$API_URL