APP_NAME=RemoteAdminPlus

API_DOMAIN=http://localhost:3000
DOMAIN=http://localhost:5173
COOKIE_DOMAIN=.localhost

# Generated with `openssl rand -hex 32`
APP_SECRET=
JWT_SECRET=

# API Server Properties
HOSTNAME=localhost
PORT=3000

# Or socket connection strings in the form of socket:/var/run/pgsql?db=<database>
DATABASE_URL=postgres://<user>:<password>@<host>:<port>/<database>

# Redis
REDIS_PREFIX=remoteadminplus:
REDIS_URL=redis://127.0.0.1:6379/0