
API_URL=http://localhost:5173/api

# When preferred the SSR should access the api locally to prevent any sort of rate limits or anti ddos measures, if blank uses API_URL
SERVER_API_URL=

URL=http://localhost:5173
DOMAIN=localhost:5173

#Don't touch this part
PUBLIC_DOMAIN=$DOMAIN
PUBLIC_URL=$URL
PUBLIC_API_URL=$API_URL
